
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Shared style */
.dark{
  color: rgba(58, 58, 58, 1);
  /* text-decoration: none; */
}
.btn-p{
  background-color: rgba(224, 44, 109, 1);
  border-radius: 2.6rem;
  border: none;
}


/* navbar styles */
nav>ul li{
  list-style: none;
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 87px 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
.products{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(58, 58, 58, 1);
}
/* banner styles */
.main-banner{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin:87px 120px;
  align-items: center;
}
.banner{
  max-width: 582px;
  margin: 0 auto;
  /* flex: 1; */
}
.banner-title{
  font-size: 3.25rem;
  font-weight: 700;

}
.banner-image{
  width: 440px;
  height: 414px;
  display: flex;
  justify-content: center;

}
.main{
  display: flex;
  /* grid-template-columns: repeat(7,1fr); */
  gap: 50px;
  /* max-width: 1110px; */
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 50px;
  gap: 20px;
  align-items:center;
}
.title{
  text-align: center;
  margin: 20px auto;
}
.see-more{
  text-align: right;
  display: inline-block;
  text-decoration: none;
}